<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Hello SBB!</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
  <!-- SBB CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}">

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
<!-- 네비게이션 바 -->
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<th:block layout:fragment="content"></th:block>

<!-- Bootstrap JS -->
<script th:src="@{/bootstrap.min.js}"></script>

<th:block layout:fragment="script"></th:block>
</body>
</html>