<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <title>질문 작성</title>
</head>
<body>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">질문 등록</h5>
    <!--/*@thymesVar id="questionForm" type="com.seohyeon.testboardspring.sbb.question.QuestionForm"*/-->
    <!-- <form th:action="@{/api/question/create}" th:object="${questionForm}" method="post"> -->
    <!-- th:action 속성이 없을 경우, 현재 url로 요청을 전송하는 규칙이 있다-->
    <form th:object="${questionForm}" method="post">
        <!-- th:action 속성이 없으므로 CSRF값을 설정하기 위해 hidden 형태로 input 요소 추가-->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mb-3">
            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <label for="subject" class="form-label">제목</label>
            <input type="text" th:field="*{subject}" id="subject" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea th:field="*{content}" id="content" class="form-control" rows="10"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>

    <script src="/submit.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("content")
        });
    </script>
</div>
</body>
</html>